# makepanda directories
/built*/
/thirdparty/
/targetroot/
/dstroot/

# Core dumps
core
core.*
vgcore.*
*.core

# Editor files/directories
*.save
*.save.1
*.sublime-workspace
.vscode/

# Temporary build files
/_vfsimporter.*
*.pdb
*.obj
*.o
*.gch
*.pch
/+DESC
/+MANIFEST
/pkg-plist

# Produced installer/executables
/*.exe
/*.deb
/*.rpm
/*.app
/*.pkg
/*.dmg
/*.whl
/*.txz

# CMake
/build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

# Windows
Thumbs.db
ehthumbs.db

# Python
__pycache__/
*.pyc
*.pyo

# Test tool cache directories
.tox/
.cache/
.pytest_cache/
/.vs/p3d_jb/v17
/.vs
/makepanda/.vs/makepanda
/makepanda/Backup
/makepanda/Backup1
/makepanda/UpgradeLog2.htm
/makepanda/makepanda.sln
/makepanda/makepanda.vcxproj
/makepanda/makepanda.vcxproj.filters
/makepanda/UpgradeLog.htm
/makepanda/makepanda.vcxproj.user
/debug/tmp
/debug
