language: cpp
sudo: false
matrix:
  include:
    - compiler: gcc
      env: PYTHONV=python2.7 FLAGS=
    - compiler: clang
      env: PYTHONV=python3 FLAGS=--installer
    - compiler: clang
      env: PYTHONV=python2.7 FLAGS=--override=STDFLOAT_DOUBLE=1
addons:
  apt:
    packages:
    - bison
    - flex
    - libfreetype6-dev
    - libgl1-mesa-dev
    - libjpeg-dev
    - libode-dev
    - libopenal-dev
    - libpng-dev
    - libssl-dev
    - libvorbis-dev
    - libx11-dev
    - libxcursor-dev
    - libxrandr-dev
    - nvidia-cg-toolkit
    - python-dev
    - python3-dev
    - zlib1g-dev
script: $PYTHONV makepanda/makepanda.py --everything --git-commit $TRAVIS_COMMIT $FLAGS --threads 4 && LD_LIBRARY_PATH=built/lib PYTHONPATH=built $PYTHONV makepanda/test_imports.py
notifications:
  irc:
    channels:
      - "chat.freenode.net#panda3d"
    on_success: change
    on_failure: always
    use_notice: true
    skip_join: true
