language: cpp
sudo: false
matrix:
  include:
    - compiler: gcc
      env: PYTHONV=python2.7
    - compiler: clang
      env: PYTHONV=python3
addons:
  apt:
    packages:
    - bison
    - flex
    - libfreetype6-dev
    - libgl1-mesa-dev
    - libjpeg-dev
    - libode-dev
    - libopenal-dev
    - libpng-dev
    - libssl-dev
    - libvorbis-dev
    - libx11-dev
    - libxcursor-dev
    - libxrandr-dev
    - nvidia-cg-toolkit
    - python-dev
    - python3-dev
    - zlib1g-dev
    - fakeroot
script: $PYTHONV makepanda/makepanda.py --everything --git-commit $TRAVIS_COMMIT --installer --threads 4
