[Desktop Entry]
Name=Panda3D Model Viewer
GenericName=Model Viewer
Comment=View Panda3D model files
TryExec=pview
Exec=pview %U
StartupNotify=true
NoDisplay=true
Terminal=true
Type=Application
Categories=Graphics;Utility;3DGraphics;Viewer;
MimeType=model/x-egg;model/x-compressed-egg;model/x-bam;model/x-compressed-bam;
